
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /*o que é? altura da linha de texto?*/
    color: $color-grey-dark;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top; /*imagem ou título sempre será dimensionado para o top ou o que for definidido*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box{ /*aninhamento de pseudo classes usando & anihando a pseudo classe de header 
        ou qualquer outra que inicie com header ex: header__logo, header__logo-box...
        */
        position: absolute;
        top: 40px;
        left: 40px;
    }
    &__logo {
        height: 35px;
        
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
    }
}





.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /*parar retirar tremores padrões de animação ou movimento de elmento*/
    margin-bottom: 30px;

    
    &-main{
        display: block; /*obtém toda uma largura para si só 100%*/
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        animation: moveInLeft 1s ease-out;
       
    }
    
    &-sub{
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        animation-name: moveInRight 1s ease-out;
       
    }   
}



@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}



@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn {
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;/*elemento tem seu próprio espaço reservado, largura e altura*/
    border-radius: 100px;
    transition: all .2s;/*elemento fica com animação mais suave pois foi aplicado o atributo all*/
    position: relative;
    
    }
    
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black,0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black,0.2);
    }
    
    &-white {
        background-color: #fff;
        color: $color-grey-dark;

        &::after {
            background-color: #fff;
        }
    
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index:  -1; /*define a posição do elemento se eles estiverem um em cima do outro */
        transition: all .4s;
    }
    
    
    
  
    
    &-animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; /*faz com que a animação inicie com efeito reverso*/
        
    }
}

