.u-center-text{
    text-align: center;
} /*associado ao h2 que usa um display: inline-block, 
sendo assim o text-align: center; ajusta o texto no centro do bloco*/


.u-margin-bottom-big{
    margin-bottom: 8rem;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}